<div class="container">
<div class="registrationBox">

    <form class="" method="post" ng-submit="">

        <div class="row">
            <div class="topOrganization">

                <div class="logoContainer">
                    <div class="image-wrapper">
                        <span class="image-overlay">
                            <span class="content"><i class="fa fa-camera fa-fw" aria-hidden="true" style="vertical-align: middle;"></i>  Enviar imagem</span>
                        </span>
                        <img src="https://www.fineprintnyc.com/images/blog/coke-logo/coke-logo-19.jpg">
                    </div>
                    <input type="file" id="files">
                    <button class="btn btn-create">Remover</button>
                </div>

                <div class="organizationInfos">
                    <div class="row">
                        <div class="col-md-4">Vagas</div>
                        <div class="col-md-4">Candidatos</div>
                        <div class="col-md-4">Membros</div>
                    </div>
                </div>
            </div>


        </div>

        <p class="title">CONTATO</p>

        <div class="">
            <label for="password" class="">EMAIL</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>

        <div class="">
            <label for="password" class="">TELEFONE</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>

        <p class="title">ENDEREÇO</p>

        <div class="">
            <label for="password" class="">CEP</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>

        <div class="">
            <label for="password" class="">ENDEREÇO</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>

        <div class="">
            <label for="password" class="">NÚMERO</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>

        <div class="">
            <label for="password" class="">COMPLEMENTO</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>

        <div class="">
            <label for="password" class="">BAIRRO</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>

        <div class="">
            <label for="password" class="">CIDADE</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>

        <div class="">
            <label for="password" class="">UF</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>

        <p class="title">ENDEREÇO</p>

        <div class="">
            <label for="password" class="">DATA DE FUNDAÇÃO</label>
            <input ng-model="loginCtrl.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
        </div>



        <button type="submit" class="btn btn-create">ENTRAR</button>

        <p class="terms">Não possui uma conta? <a href="javascript:void(0)" ng-click="loginCtrl.goToRegistration()"><i>Inscreva-se.</i></a></p>

    </form>

</div>
</div>