<section class="content-header">
    <h1>
        Usuários
        <small>it all starts here</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Agendamento</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Agendamento</h3>
                </div>
                <div class="portlet">
                    <div class="portlet-body form">
                        <div class="form-body">
                            <div class="box-body" style="display: block;">
                                <sta-dx-grid id="scheduleGrid" field-list="schedulingCtrl.equipments" column-list="schedulingCtrl.columnList" filtering="true"></sta-dx-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>