<div class="headerOverlay">
    <div class="boxOverlay">
        <div>
            <p class="title">Cadastre-se</p>
            <div class="registrationBox">

                <form class="" method="post" ng-submit="regCtrl.submit()">

                    <div class="row">

                        <div class="col-sm-5">
                            <div class="">
                                <label for="firstName" class="">NOME*</label>
                                <input ng-model="regCtrl.user.firstName" type="text" class="form-control" name="firstName" id="firstName"  placeholder="" required>
                            </div>
                        </div>
                        <div class="col-sm-5 col-sm-offset-2">
                            <div class="">
                                <label for="lastName" class="">SOBRENOME</label>
                                <input ng-model="regCtrl.user.lastName" type="text" class="form-control" name="lastName" id="lastName"  placeholder="">
                            </div>
                        </div>

                    </div>

                    <div class="">
                        <label for="username" class="">USUÁRIO*</label>
                        <input ng-model="regCtrl.user.username" type="text" class="form-control" name="username" id="username"  placeholder="" required>
                    </div>

                    <div class="">
                        <label for="email" class="">EMAIL*</label>
                        <input ng-model="regCtrl.user.email" type="email" class="form-control" name="email" id="email"  placeholder="" required>
                    </div>

                    <div class="">
                        <label for="password" class="">SENHA*</label>
                        <input ng-model="regCtrl.user.password" type="password" class="form-control" name="password" id="password"  placeholder="" required>
                    </div>

                    <p class="terms">Ao clicar em Criar Conta eu concordo com os <a href="#"><i>Termos de Uso</i></a> e <a href="#"><i>Política de Privacidade.</i></a></p>

                    <button type="submit" class="btn btn-create">CRIAR CONTA</button>

                </form>

            </div>
        </div>
    </div>
    <div class="imageOverlay"></div>
</div>